@font-face {
    font-family: "FFDINWebProRegular";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    src: url("../fonts/DIN/3495E6_1_0.eot");
    src: url("../fonts/DIN/3495E6_1_0.eot?#iefix") format("embedded-opentype"),
      url("../fonts/DIN/3495E6_1_0.woff2") format("woff2"),
      url("../fonts/DIN/3495E6_1_0.woff") format("woff"),
      url("../fonts/DIN/3495E6_1_0.ttf") format("truetype");
  }
  