
/* reset styles */
* {
  color: inherit;
  margin: 0;
  box-sizing: border-box;
}
html, body{
  height: 100% !important;
  margin: 0;
}
body{
  font-family: "FFDINWebProRegular";
}
ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
