.container{
    max-width: 1200px;
    margin: 0 auto;
}
.wrapper{
    min-height:100% !important;
    display: flex !important;
    flex-direction: column !important;
  }
  main.page-main{
    flex: 1 1 auto !important;
  }