.branch-logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 6rem 0;

    .branch-logo {
        cursor: pointer;
        margin-left: 4px;
        flex-basis: 25.3%;
    }
}