.page-content{
    background-image: url(/storage/app/public/images/mengen-login.jpg)!important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    min-height: 100vh;
    color:white;
}

