.actionbar{
    padding:20px 0;
    background-color: black;

    .actionbar__list{
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        color:white;
    }
}