.breadcrumbs {
    padding: 20px 0;
    background-color: lightgray;

    .breadcrumbs__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        li {
            margin-right: 4rem;

        }
        
        li.active {
            font-weight: bold;
            color:darkblue;
        }
    }
}
