.page-footer {
    padding: 20px 0;
    flex-shrink: 0;
    // position: fixed;
    // left:0;
    // bottom:0;
    // width:100%;
  
    ul {
        display: flex;
        flex-flow: row wrap;
        padding: 1.5rem 0 0 2rem;
    }
}