nav {
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;

        li:first-child {
            margin-right: auto;
        }

        li a {
            display: block;
            padding: 1rem;
            text-align: center;
        }

        .active-site-nav__link {
            color: darkslategrey;
            font-weight: bold;
        }
    }
}
