@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=0d7d5d97-5d22-4747-b0de-264dcc0bcd72&fontids=1475998,1476004,1476016,1571235");
@font-face {
    font-family: "Univers LT W01_47 Light1475998";
    src: url("../../../fonts/univers/1475998/58c01d2a-ce4a-4360-a61f-761e91aa67c0.woff2")
            format("woff2"),
        url("../../../fonts/univers/1475998/ccd9698a-60c5-48f7-acbe-5352b4aa81d4.woff")
            format("woff");
}
@font-face {
    font-family: "Univers LT W01_57 Condensed";
    src: url("../../../fonts/univers/1476004/bf8f8741-5f64-4db9-a877-a44624092e68.woff2")
            format("woff2"),
        url("../../../fonts/univers/1476004/7ce02c2c-45d4-4dee-90f2-f8034e29ac24.woff")
            format("woff");
}
@font-face {
    font-family: "Univers LT W01_67 Bold 1476016";
    src: url("../../../fonts/univers/1476016/3bdb4597-ff70-447c-8620-8836686bf840.woff2")
            format("woff2"),
        url("../../../fonts/univers/1476016/5599ac9f-d136-4277-aeee-f82aac5d527f.woff")
            format("woff");
}
@font-face {
    font-family: "Univers LT W01_59 Ult Cond";
    src: url("../../../fonts/univers/1571235/452edecf-b228-4999-870a-a817fafba5bd.woff2")
            format("woff2"),
        url("../../../fonts/univers/1571235/d542b352-b0cb-4267-a60e-501c672d1506.woff")
            format("woff");
}
.board .print-box {
    background: none !important;
}
.board .print-box::before,
.board .print-box::after {
    display: none !important;
}
.print-box {
    font-family: "Univers LT W01_57 Condensed";
    font-size: 15.468px;
}
.print-box * {
    color: #000;
}
@media print {
    .print-box * {
        color: #000 !important;
    }
}
.menu_footer_notice {
    font-size: 13.828px;
}
.menu-logo {
    margin-left: auto;
    margin-right: auto;
}
.menu-section {
    text-align: center;
}
.menu-section .section-title {
    display: block;
}
.menu-section .section-title h3 {
    font-family: "Univers LT W01_67 Bold 1476016";
    font-weight: normal;
    text-transform: uppercase;
    color: #000 !important;
}
@media print {
    .menu-section .section-title h3 {
        color: #000 !important;
    }
}
.menu-section .section-subtitle,
.menu-section .item-title,
.menu-section .item-price {
    font-family: "Univers LT W01_67 Bold 1476016";
    color: #000;
}
.menu-section .item-title,
.menu-section .item-desc {
    line-height: 1.2;
}
.menu-section .item-desc {
    letter-spacing: -0.05em;
}
.menu-section.Small_Title .item-title {
    letter-spacing: -0.05em;
}
.bullets-wrap {
    vertical-align: top;
    position: relative;
    top: 2px;
    margin-left: 14px;
}
.footer_local {
    display: block;
    text-align: center;
    margin-top: 52px;
    text-transform: uppercase;
}
.footer_local strong {
    font-weight: normal;
    font-family: "Univers LT W01_67 Bold 1476016";
}
.footer_local li {
    display: block;
    font-size: 13.6px;
    line-height: 1.3;
}
.footer_local li:first-child {
    font-size: 21.812px;
    margin-bottom: 28px;
}
.bullet,
.bullet:after {
    width: 16px !important;
    height: 16px !important;
    background-size: 16px 16px !important;
}
.bullet.veg:after {
    background-image: url("../../../img/azulinda-veg.png") !important;
}
.bullet.gf:after {
    background-image: url("../../../img/azulinda-gf.png") !important;
}
@media print {
    .bullet.veg:after {
        background-image: url("../../../img/azulinda-veg.png") !important;
    }
    .bullet.gf:after {
        background-image: url("../../../img/azulinda-gf.png") !important;
    }
}
.azulinda_half .print-outter {
    background: #afdef3;
}
.azulinda_half.azulinda_coffee_half .print-outter {
    background: #dbc2be;
}
.azulinda_half .print-outter {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 3rem;
}
.azulinda_half .print-inner {
    height: 100%;
}
.azulinda_half .print-inner,
.azulinda_half .print-inner .row,
.azulinda_half .print-inner .col-sm-6,
.azulinda_half .print-inner .menu-section-wrap,
.azulinda_half .print-inner .menu-section-inner {
    height: 100%;
}
.azulinda_half .menu-logo {
    width: 274.4px;
    height: 134.4px;
    margin-bottom: 32px;
    background-image: url(/storage/app/public/images/logos/azulinda-logo.png) !important;
    background-color: transparent !important;
    background-size: 274.4px 134.4px !important;
}

@media print {
    .azulinda_half .menu-logo {
        background-image: url(/storage/app/public/images/logos/azulinda-logo.png) !important;
        background-color: transparent !important;
        background-size: 274.4px 134.4px !important;
    }
}
.azulinda_half .menu-section-wrap + .menu-section-wrap:before {
    content: "";
    width: 1px;
    height: 100%;
    border-left: solid 1px #000;
    position: absolute;
    left: 0;
    top: 0;
}
.azulinda_half .menu-section-inner {
    padding: 46px 70px 0 70px;
}
.azulinda_half .menu-headline {
    font-size: 21.8px;
    font-family: "Univers LT W01_67 Bold 1476016";
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 26px;
    position: relative;
}
.azulinda_half .menu_title_wrap {
    position: relative;
    text-align: right;
    margin-bottom: 56px;
}
.azulinda_half .menu-section_edit .menu_title {
    display: inline-block;
    font-family: "Univers LT W01_67 Bold 1476016";
    font-size: 15px;
    line-height: 1.1;
    border-bottom: solid 2px #000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.azulinda_half .menu_subtitle_wrap {
    position: absolute;
    bottom: 62px;
    right: 70px;
}
.azulinda_half .menu_subtitle_wrap .menu_subtitle {
    font-family: "Univers LT W01_67 Bold 1476016";
    font-size: 14.632px;
    text-transform: uppercase;
}
.azulinda_half .menu-section_edit {
    text-align: center;
    padding-bottom: 34px;
    border-bottom: solid 4px #000;
    margin-bottom: 0;
}
.azulinda_half .menu-section + .menu-section {
    margin-top: 34px;
}
.azulinda_half .menu-section_edit:first-child {
    padding-top: 34px;
    border-top: solid 4px #000;
}
.azulinda_half .menu-section .section-title {
    margin-bottom: 28px;
}
.azulinda_half .menu-section .section-title > h3 {
    font-size: 21.8px;
}
.azulinda_half .menu-section .item-outter {
    margin-top: 0;
}
.azulinda_half .menu-section .item-outter + .item-outter {
    margin-top: 36px;
}
.azulinda_half .menu-section .item-title,
.azulinda_half .menu-section .item-price {
    font-size: 20px;
}
.azulinda_half .menu-section .item-price p:before {
    content: "|";
    margin: 0 3px;
}
.azulinda_half .menu-section .item-desc {
    text-transform: uppercase;
}
.azulinda_half .menu-section .item-desc p {
    line-height: 1.25;
}
.azulinda_half .menu-section .bullets-wrap {
    vertical-align: baseline;
    top: 0;
}
.azulinda_half [class*="menu_notice_wrap"] {
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
}
.azulinda_half [class*="menu_notice_wrap"] > * {
    font-size: inherit;
}
.azulinda_half [class*="menu_notice_wrap"] + [class*="menu_notice_wrap"] {
    margin-top: 12px;
}
.azulinda_half .footer {
    width: 100%;
    position: absolute;
    padding-left: 70px;
    padding-right: 70px;
    left: 0;
    bottom: 62px;
}
